# Required python packages

In [9]:
import pandas as pd

# Data import

In [10]:
data = pd.read_csv('data_v1.csv')

# Finding depth of dataset

In [11]:
row, col = data.shape

# Manipulating data values to USD from USD million

In [12]:
for i in range(0,row,1):
    for j in range(1, col, 1):
        data.iloc[i,j] = data.iloc[i,j]*10**6

# Creating a grand total column

In [15]:
data.head()

,Sector,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,Total
0,METALLURGICAL INDUSTRIES,22690000.0,14140000.0,36610000.0,8110000.0,200380000.0,149130000.0,169940000.0,1.175750e+09,959940000.0,4.198800e+08,1.098140e+09,1.786140e+09,1.466230e+09,5.676300e+08,359340000.0,456310000.0,1.440180e+09,1.033054e+10
1,MINING,1320000.0,6520000.0,10060000.0,23480000.0,9920000.0,7400000.0,6620000.0,4.443600e+08,34160000.0,1.744000e+08,7.951000e+07,1.426500e+08,5.789000e+07,1.273000e+07,684390000.0,520670000.0,5.575000e+07,2.271830e+09
2,POWER,89420000.0,757440000.0,59110000.0,27090000.0,43370000.0,72690000.0,157150000.0,9.886800e+08,907660000.0,1.271790e+09,1.271770e+09,1.652380e+09,5.356800e+08,1.066080e+09,707040000.0,868800000.0,1.112980e+09,1.158913e+10
3,NON-CONVENTIONAL ENERGY,0.0,0.0,1700000.0,4140000.0,1270000.0,1350000.0,2440000.0,5.882000e+07,125880000.0,6.225200e+08,2.144000e+08,4.521700e+08,1.106520e+09,4.142500e+08,615950000.0,776510000.0,7.835700e+08,5.181490e+09
4,COAL PRODUCTION,0.0,0.0,0.0,40000.0,0.0,9140000.0,1300000.0,1.408000e+07,220000.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.960000e+06,0.0,0.0,0.000000e+00,2.774000e+07

# Saving new values in new csv file

In [16]:
data.to_csv('data_v2.csv', index=False)